<!-- all posts -->
<div class="container mt-20 w-2/3 mx-auto">
  <h1 class="text-3xl font-bold"><%= @collection.title %>(<%= @posts.size %>問)</h1>
  <%= link_to '問題集を削除する', user_collection_path(current_user, @collection), method: :delete, data: { confirm: '問題集を削除すると登録している問題も削除されます。宜しいですか？' },  class: 'block mt-4 lg:inline-block lg:mt-3 bg-gray-300 hover:bg-gray-500 mr-4 p-2 rounded-xl' %>
  <% if @collection.elements.exists? %>
  <% @posts.each do |post| %>
  <div class="w-full bg-white h-auto tracking-wide mt-10 mx-auto border border-black-800 rounded-lg relative">
    <div class="small-banner w-1 h-20 bg-blue-600 absolute rounded-tl-md"></div>
    <h5 class="text-2xl font-semibold pl-6 pt-6 pr-6 pb-2">
      <%= link_to post.title, user_post_path(post.user.id, post.id), class: 'hover:text-blue-500 hover:underline' %>
    </h5>
    <p class="text-md font-regular p-6 pt-2 text-gray-500">
      <%= post.question %>
    </p>
    <div class="flex justify-between item-center px-6 pb-6">
      <span class="bg-gray-300 px-2 py-1 rounded-2xl"><%= post.category.name %></span>
      <div class="flex justify-center items-center">
        <span class="mr-3">
          <% if post.user.user_image.blank? %>
          <%= image_tag "user.jpg", class: 'rounded-full w-10 h-10' %>
          <% else %>
          <%= image_tag post.user.user_image.url, class: 'rounded-full w-10 h-10' %>
          <% end %>
        </span>
        <span><%= post.user.name %></span>
        <% if post.user.id == current_user.id %>
        <%= link_to edit_user_post_path(post.user.id, post.id) do %>
        <i class="fa-solid fa-pen-to-square ml-3 cursor-pointer" title="編集する"></i>
        <% end %>
        <%= link_to user_post_path(post.user.id, post.id), method: :delete, data: { confirm: '本当に削除してよろしいですか?' } do %>
        <i class="fa-solid fa-trash-can ml-1 cursor-pointer" title="削除する"></i>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% else %>
  <p>問題はまだ登録されていません</p>
  <%= link_to '問題を登録する', root_path, class: 'bg-blue-500 shadow-md text-sm text-white font-bold py-3 md:px-8 px-4 hover:bg-blue-400 rounded mt-5 inline-block' %>
  <% end %>
</div>
