<% if flash[:success] %>
<p class="bg-green-300 text-center p-2 font-bold text-white"><%= flash[:success] %></p>
<% end %>

<div class="lg:w-4/6 px-1 mx-auto mt-10">
  <table class="table-auto w-full">
    <tbody class="border">
      <tr class="border">
        <th class="p-2 border-r">名前</th>
        <td class="pl-5"><%= @user.name %></td>
      </tr>
      <tr class="border">
        <th class="p-2 border-r">メールアドレス</th>
        <td class="pl-5"><%= @user.email %></td>
      </tr>
      <tr class="border">
        <th class="p-3 border-r">ユーザー画像</th>
        <td class="pl-5 py-2">
          <% if @user.user_image.present? %>
          <%= image_tag @user.user_image.url, width: 150, height: 150 %>
          <% else %>
          <%= image_tag 'user.jpg', width: 150, height: 150 %>
          <% end %>
        </td>
      </tr>
      <tr class="border">
        <th class="p-2 border-r">問題投稿数</th>
        <td class="pl-5"><%= @user.posts.size %></td>
      </tr>
      <tr class="border">
        <th class="p-2 border-r">問題集数</th>
        <td class="pl-5"><%= @user.collections.size %></td>
      </tr>
      <tr class="border">
        <th class="p-2 border-r">お気に入り問題数</th>
        <td class="pl-5"><%= @user.likes.size %></td>
      </tr>
    </tbody>
  </table>

  <div class="hidden lg:block flex mt-3 gap-2">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'text-blue-300 hover:text-blue-500' %>/
    <%= link_to 'ユーザー情報編集', user_edit_path(@user), class: 'text-blue-300 hover:text-blue-500' %>/
    <%= link_to '問題一覧', user_all_posts_path(@user), class: 'text-blue-300 hover:text-blue-500' %>/
    <%= link_to '問題集一覧', list_user_collections_path(@user), class: 'text-blue-300 hover:text-blue-500' %>/
    <%= link_to 'お気に入り一覧', user_all_likes_path(@user), class: 'text-blue-300 hover:text-blue-500' %>
  </div>

  <div class="lg:hidden flex-inline flex-wrap justify-center items-center mt-3">
    <div class="item text-center py-2">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'block text-blue-300 hover:text-blue-500' %>
    </div>
    <div class="item text-center py-2">
      <%= link_to 'ユーザー情報編集', user_edit_path(@user), class: 'block text-blue-300 hover:text-blue-500' %>
    </div>
    <div class="item text-center py-2">
      <%= link_to '問題一覧', user_all_posts_path(@user), class: 'block text-blue-300 hover:text-blue-500' %>
    </div>
    <div class="item text-center py-2">
      <%= link_to '問題集一覧', list_user_collections_path(@user), class: 'block text-blue-300 hover:text-blue-500' %>
    </div>
    <div class="item text-center py-2">
      <%= link_to 'お気に入り一覧', user_all_likes_path(@user), class: 'block text-blue-300 hover:text-blue-500' %>
    </div>
  </div>
</div>
