<nav class="flex items-center justify-between flex-wrap bg-gray-100 p-4 border-b-2">
  <div class="flex items-center flex-no-shrink mr-6">
    <%= link_to root_path do %>
    <h1 class="text-2xl font-bold">PaiLearning</h1>
    <% end %>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
      <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="lg:flex-grow">
      <% if user_signed_in? %>
      <span>
        ようこそ&nbsp;<%= link_to user_mypage_path(current_user.id), class: 'block mt-4 lg:inline-block lg:mt-0 text-blue-300 hover:text-blue-500 mr-4' do %>
        <%= current_user.name %>さん
        <% end %>
      </span>
      <%= link_to '新規投稿', new_user_post_path(current_user.id), class: 'block mt-4 lg:inline-block lg:mt-0 bg-blue-300 hover:text-blue-500 mr-4 p-2 text-white' %>
      <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: 'block mt-4 lg:inline-block lg:mt-0 text-blue-300 hover:text-blue-500 mr-4' %>
      <%= link_to '新規登録', new_user_registration_path, class: 'block mt-4 lg:inline-block lg:mt-0 bg-blue-300 hover:text-blue-500 mr-4 p-2 text-white' %>
      <% end %>
    </div>
  </div>
</nav>
