<div class="container mt-10 lg:w-2/3 px-3 mx-auto">
  <div class="grid overflow-hidden grid-cols-1 grid-rows-5 gap-2">
    <div class="box flex gap-2 relative">
      <% if @user.user_image.present? %>
      <%= image_tag @user.user_image.url, class: 'w-12 h-12 rounded-full' %>
      <% else %>
      <%= image_tag 'user.jpg', class: 'w-12 h-12 rounded-full' %>
      <% end %>
      <div class="text-lg font-bold"><%= @post.user.name %></div>
      <% if user_signed_in? %>
      <%= button_tag '', type: 'button', class: 'border px-1 h-10 bg-blue-300 text-white font-bold rounded-xl', id: 'show-collection-list' do %>
      <i class="fa-solid fa-plus"></i>&nbsp;問題集に追加する
      <% end %>
      <ul class="absolute -bottom-3 left-36 border p-3 w-auto hidden" id="collection-list">
        <% if @collections.exists? %>
        <% @collections.each do |collection| %>
        <li><%= link_to collection.title, collection_post_elements_path(collection.id, @post), method: :post, class: 'hover:bg-gray-300 p-2' %></li>
        <% end %>
        <% else %>
        <li>問題集を作成してください</li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <div class="box">
      <h1 class="text-2xl font-bold mb-3"><%= @post.title %></h1>
      <span class="bg-gray-300 px-2 py-1 rounded-2xl"><%= @post.category.name %></span>
    </div>
    <div class="box py-2">
      <h2 class="text-xl font-bold">問題</h2>
      <p class="mt-3"><%= @post.question %></p>
    </div>
    <div class="box py-2">
      <div class="flex gap-2">
        <h2 class="text-xl font-bold">答え</h2>
        <button class="bg-blue-300 text-white font-bold py-1 px-2 rounded-xl show-answer" data-id="<%= @post.id %>">答えを見る</button>
      </div>
      <p class="mt-3 hidden" id="answer<%= @post.id %>"><%= @post.answer %></p>
    </div>
    <% if user_signed_in? %>
    <div id="pai-app"></div>
    <% end %>
  </div>

  <!-- comment area -->
  <div>
    <% if @comment.errors.any? %>
    <div id="error_explanation">
      <ul class="text-red-500">
        <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <% if user_signed_in? %>
    <section class="rounded-b-lg  mt-4 ">
      <%= form_with model: @comment, url: user_post_comments_path(current_user.id, @post.id), local: true do |new_comment| %>
      <%= new_comment.text_area :body, class: 'w-full p-4 border-2 mb-4 rounded-lg focus:shadow-outline resize-none', placeholder: 'コメント(500字以内)', rows: 6, cols: 6 %>
      <%= new_comment.submit 'コメントする', class: 'font-bold py-2 px-4 w-full bg-blue-300 text-white shadow-md rounded-lg cursor-pointer' %>
      <% end %>

      <div id="task-comments" class="pt-4">
        <!-- comment -->
        <% if @post.comments.exists? %>
        <% @post.comments.each do |comment| %>
        <div class="bg-white rounded-lg p-3  flex flex-col justify-center items-center md:items-start border mb-4">
          <div class="flex flex-row justify-center mr-2">
            <% if comment.user.user_image.present? %>
            <%= image_tag comment.user.user_image.url, class: 'rounded-full w-10 h-10 mr-4 shadow-lg mb-4' %>
            <% else %>
            <%= image_tag 'user.jpg', class: 'rounded-full w-10 h-10 mr-4 shadow-lg mb-4' %>
            <% end %>
            <h3 class="text-purple-600 font-semibold text-lg text-center md:text-left "><%= comment.user.name %></h3>
            <% if comment.user.id == current_user.id %>
            <%= link_to user_post_comment_path(@post.user.id, @post.id, comment.id), method: :delete, data: { confirm: '本当に削除してよろしいですか?' } do %>
            <i class="fa-solid fa-trash-can ml-1 cursor-pointer" style="vertical-align: -5px;" title="削除する"></i>
            <% end %>
            <% end %>
          </div>
          <p style="width: 90%" class="text-gray-600 text-lg text-center md:text-left "><%= comment.body %></p>
        </div>
        <% end %>
        <% else %>
        <p>コメントはありません</p>
        <% end %>
        <!--  comment end-->
      </div>
    </section>
    <% else %>
    <p class="text-center">この問題にコメントをしたりお気に入りに登録するには<%= link_to 'ログイン', new_user_session_path, class: 'text-blue-500 hover:underline' %>が必要です</p>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'vue/application' %>
